doctype html
html(lang="en")
    head
        title News
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="news, app")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="manifest" href="/manifest.webmanifest")
        link(rel="stylesheet" type="text/css" href="/css/main.min.css" media="none" onload="this.media = 'all';")
        link(rel="stylesheet", type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" media="none" onload="this.media = 'all';")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" media="none" onload="this.media = 'all';")
    body
        noscript Please activate JavaScript to use this app.
        div#app
        script(type="text/javascript" src="/js/main.min.js" async="true" defer="true")